<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBRLicense" value="t0068NQAAAAr51ypur4kxqR3JlTYk9GcrD2l40T34Vywgm7owxwOX6tyNtc+RXxsXhwXBi3/bX0+nBV5cdaJ0nd2raIx03zo="/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
